@model Byrth.Core.SMS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SMSDetailsVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSent)
        </dt>

        <dd>
            @Model.IsSent
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recipient.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipient.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recipient.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipient.Phone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
