@model IEnumerable<DigiDou.Web.Models.Hospital>

@{
    ViewBag.Title = "Index";
}

<h2 class="col-md-offset-6" align="center" style="color:antiquewhite">Your Hospitals</h2>

<p class="col-md-offset-6" align="center">
    @Html.ActionLink("Create New", "Create")
</p>

    @foreach (var item in Model)
    {
        <div class="col-md-offset-6 col-md-push-4 panel" align="center">
            <h2>
                @Html.DisplayFor(modelItem => item.Name)
            </h2>
            <p>
                @Html.DisplayFor(modelItem => item.Address)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.City)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.State)
            </p>
            <p>
                @Html.DisplayFor(modelItem => item.Zipcode)
            </p>
            <p>
                <a href="tel: @item.Phone">@Html.DisplayFor(modelItem => item.Phone)</a>
            </p>
            <h6>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </h6>
            <div>

                <a href="http://maps.google.com/maps?daddr=@item.FullAddress" class="btn btn-primary">Get Directions</a>
            </div>
        </div>
        <div class="col-md-2"></div>
    }
