@model IEnumerable<DigiDou.Web.Models.Contraction>

@{
    ViewBag.Title = "Index";
}

<h2>Contraction Timer</h2>
<div>
    <div class="col-md-offset-4 col-md-8"><div class="stopwatch"></div></div>
    <div class="controls col-md-offset-4">
        <a href="#" class="button btn btn-success" onClick="Stopwatch.start();">Start</a>
        <a href="#" class="button btn btn-primary" onClick="Stopwatch.lap();">Lap</a>
        <a href="#" class="button btn btn-danger" onClick="Stopwatch.stop();">Stop</a>
        <a href="#" class="button btn btn-default" onClick="Stopwatch.restart();">Restart</a>
    </div>
    
    <table class="table panel results"></table>
</div>
<!--Results Table
<table class="table panel">
    <tr>
        <th>
            Contraction Duration
        </th>
        <th>Time between measured contractions</th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Length)
        </td>
        <td>@Html.DisplayFor(modelItem => item.TimeSinceLast)</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>-->

@section scripts
{
     <script src="~/Scripts/Custom.js"></script>
}
