@model IEnumerable<DigiDou.Web.Models.Contraction>

@{
    ViewBag.Title = "Index";
}

<h2>Contraction Timer</h2>
<div>
    <div align="center"><button class="stopwatch" value="stopped">00:00:00</button></div>
    <div class="col-md-offset-4">
    </div>
    
    <table class="table panel results hidden"></table>
</div>
<div align="center">
    <h1>Results Table</h1>
    <table class="table panel">
        <tr>
            <th>
                Contraction Duration
            </th>
            <th>Time between measured contractions</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Length.Minutes) Minutes @Html.DisplayFor(modelItem => item.Length.Seconds) Seconds
                </td>
                <td>@Html.DisplayFor(modelItem => item.TimeSinceLast.Hours) Hours @Html.DisplayFor(modelItem => item.TimeSinceLast.Minutes) Minutes @Html.DisplayFor(modelItem => item.TimeSinceLast.Seconds) Seconds</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
@section scripts
{
    <script src="~/Scripts/Custom.js"></script>
    <script>
        $('.stopwatch').click(function () {
            var timer = $(this);
            if (timer.prop('value') == 'stopped') {
                Stopwatch.start();
                timer.prop('value', 'started');
                $.ajax({
                    method: "POST",
                    url: "/ContractionsMvc/StartTime",
                })
            }
            else {
                Stopwatch.stop();
                Stopwatch.lap();
                timer.prop('value', 'stopped');
                $.ajax({
                    method: "POST",
                    url: "/ContractionsMvc/EndTime",
                })
            }
        });

    </script>
}
