@model Byrth.Core.Hospital

@{
    ViewBag.Title = "Index";
}
<br />
<div class="panel col-md-offset-4 col-md-4" style="float:none">
    <div align="center">
        <h2>Your Hospital</h2>

        <h2>
            @Html.DisplayFor(model => model.Name)
        </h2>

        <p>
            @Html.DisplayFor(model => model.Address)
        </p>

        <p>
            @Html.DisplayFor(model => model.City)
        </p>

        <p>
            @Html.DisplayFor(model => model.State)
        </p>

        <p>
            @Html.DisplayFor(model => model.Zipcode)
        </p>

        <p>
            <a href="tel: @Model.Phone">@Html.DisplayFor(model => model.Phone)</a>
        </p>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        </p>
        <div>

            <a href="http://maps.google.com/maps?daddr=@Model.FullAddress" class="btn btn-primary">Get Directions</a>
        </div>
    </div>

</div>
